body {
  font-size: 18px;
}

.hero {
  margin: 0 auto;
  background-image: url("../images/bg-hero-mobile.svg");
  background-color: #ebfbff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  margin-bottom: 50px;
}

.hero .hero-nav {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
}

.hero .hero-nav .hero-nav_logo {
  width: 35%;
  height: 25%;
  margin-top: 20px;
}

.hero .hero-nav .hero-nav_btn {
  margin-top: 20px;
  margin-right: 5px;
  text-decoration: none;
  color: #00252e;
  background-color: #fff;
  width: 90px;
  padding: 8px 15px;
  text-align: center;
  border-radius: 50px;
  font-size: 12px;
  box-shadow: 0px 0px 5px #ccc;
  font-weight: 700;
}

.hero .hero-info {
  text-align: center;
  width: 95%;
  margin-top: 120px;
  margin-left: 10px;
}

.hero .hero-info .hero-info_heading {
  font-size: 30px;
  margin-bottom: 35px;
}

.hero .hero-info .hero-info_texto {
  color: #000;
  font-size: 17px;
  margin-bottom: 30px;
  font-weight: normal;
  margin-bottom: 50px;
}

.hero .hero-info .hero-info_img {
  margin-top: 50px;
  width: 95%;
  margin-bottom: 20px;
}

.hero .hero-info .hero-info_btn {
  margin-top: 40px;
  background-color: #ff52bf;
  width: 95%;
  padding: 15px 55px;
  text-align: center;
  border-radius: 50px;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
}

@media (min-width: 1440px) {
  .hero {
    padding-bottom: 60px;
    background-image: url("../images/bg-hero-desktop.svg");
    margin-bottom: 200px;
  }
  .hero .hero-nav {
    margin-left: 35px;
  }
  .hero .hero-nav .hero-nav_logo {
    width: 20%;
    height: 10%;
    margin-top: 20px;
  }
  .hero .hero-nav .hero-nav_btn {
    width: 10%;
    padding: 20px 60px;
    font-size: 20px;
  }
  .hero .hero-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1;
    margin-left: 30px;
    margin-top: 20px;
  }
  .hero .hero-info .hero-contenido {
    flex: 1;
    text-align: justify;
    padding-left: 20px;
    justify-content: center;
  }
  .hero .hero-info .hero-content-img {
    flex: 2;
  }
}

.information {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  text-align: center;
  width: 85%;
  margin: 60px auto 0px auto;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0px 0px 5px #dad3d3;
}

.information .contenido {
  margin: 20px;
}

.information .contenido .img-information {
  margin: 50px 0px 20px 0px;
  width: 95%;
}

.information .contenido .p-information {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

@media (min-width: 1440px) {
  .contenido {
    display: flex;
    align-items: center;
    text-align: justify;
  }
  .contenido .contenido-info {
    flex: 2;
    padding: 0 230px 0px 100px;
  }
  .contenido .contenido-info .h2-information {
    font-size: 38px;
  }
  .contenido .contenido-info .p-information {
    font-size: 20px;
  }
  .contenido .contenido-img {
    flex: 1;
    margin: 25px;
    padding-right: 40px;
  }
  .contenido .contenido-img .img-information {
    width: 100%;
  }
  .reverse {
    flex-direction: row-reverse;
  }
  .reverse .contenido-info {
    padding: 0 100px 0px 230px;
  }
}

.readyToBuild {
  display: inline-block;
  position: relative;
  margin-top: 100px;
  margin-left: 18px;
  margin-bottom: -14%;
  z-index: 100;
  background-color: white;
}

.readyToBuild .ir-btn {
  margin-top: 20px;
  margin-right: 5px;
  text-decoration: none;
  color: white;
  background-color: #ff52bf;
  width: 90px;
  padding: 8px 15px;
  text-align: center;
  border-radius: 50px;
  font-size: 12px;
  box-shadow: 0px 0px 5px #ccc;
  font-weight: 700;
}

@media (min-width: 1440px) {
  .readyToBuild {
    margin: 135px 0  0 338px;
    width: 50%;
  }
  .readyToBuild .contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .readyToBuild .contenido .ir-btn {
    width: 40%;
    padding: 20px 15px;
    font-size: 18px;
    margin-top: 2px;
  }
}

.footer {
  width: auto;
  background-color: #00252e;
  color: #fff;
  padding-top: 50px;
  font-family: "Open Sans", sans-serif;
  margin-top: -50px;
}

.footer .containerFooter {
  margin: 0 auto;
  margin-top: 100px;
  width: 90%;
}

.footer .containerFooter .img-footer {
  width: 53%;
}

.footer .containerFooter a {
  text-decoration: none;
  color: #fff;
}

.footer .containerFooter .container-two, .footer .containerFooter .container-three {
  margin-top: 35px;
  margin-bottom: 35px;
  vertical-align: baseline;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.3rem;
  font-weight: 400;
}

.footer .containerFooter .container-two {
  margin-bottom: 0;
}

.footer .containerFooter .container-three {
  margin-top: 15px;
}

.footer .containerFooter .footer-location {
  display: flex;
  margin: 25px 0px 20px 0px;
}

.footer .containerFooter .footer-location p {
  margin: 0px 10px 0px 20px;
}

.footer .containerFooter .footer-location img {
  height: 20px;
}

.footer .containerFooter .footer-phone {
  display: flex;
  margin: 25px 0px 20px 0px;
}

.footer .containerFooter .footer-phone p {
  margin: 0px 10px 0px 20px;
}

.footer .containerFooter .footer-phone img {
  height: 20px;
}

.footer .containerFooter .footer-email {
  display: flex;
  margin: 25px 0px 20px 0px;
}

.footer .containerFooter .footer-email p {
  margin: 0px 10px 0px 20px;
}

.footer .containerFooter .footer-email img {
  height: 20px;
}

.footer .containerFooter .copyrightSection {
  text-align: center;
}

.footer .containerFooter .copyrightSection .redes-sociales {
  display: flex;
  height: 30px;
  justify-content: center;
  gap: 10px;
  margin: 30px 0px 30px 0px;
}

.footer .containerFooter .copyrightSection .mensaje {
  margin-top: 20px;
  padding-bottom: 20px;
}
