<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
  <title>Frontend Mentor | Huddle landing page with alternating feature blocks</title>
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  
    <header class="hero">
      <nav class="hero-nav">
        <img class="hero-nav_logo" src="../images/logo.svg" alt="Logo">
        <a class="hero-nav_btn" href="#">Try It Free</a>
      </nav>
      <div class="hero-info">
        <h1 class="hero-info_heading">Build The Community <br>Your Fans Will Love</h1>
        <p class="hero-info_texto">Huddle re-imagines the way we build communities. You have a voice, but so does your audience. 
        Create connections with your users as you engage in genuine discussion.</p> 
        <a class="hero-info_btn" href="#">Get Started For Free</a>
        <img class="hero-info_img" src="../images/illustration-mockups.svg" alt="MockUps">
      </div>
    </header>
    <!-- Header end-->
  
    
      <section class="contain">
        <div class="information">
          <img class="img-information" src="../images/illustration-grow-together.svg" alt="Grow Together">
          <h2 class="h2-information">Grow Together</h2> 
          <p>Generate meaningful discussions with your audience and build a strong, loyal community. 
          Think of the insightful conversations you miss out on with a feedback form. </p>  
        </div>        
         <div class="information">
            <img class="img-information" src="../images/illustration-flowing-conversation.svg" alt="Flowing Coversations">
            <h2 class="h2-information">Flowing Conversations</h2>
            <p>You wouldn't paginate a conversation in real life, so why do it online? Our threads 
              have just-in-time loading for a more natural flow.</p> 
         </div>
        <div class="information">
          <img class="img-information" src="../images/illustration-your-users.svg" alt="Your Users">
          <h2 class="h2-information">Your Users</h2>
          <p>It takes no time at all to integrate Huddle with your app's authentication solution. 
            This means, once signed in to your app, your users can start chatting immediately.</p>
        </div> 
      </section>
     

    <!-- Section start -->
    <section class="contenido readyToBuild">
      <h2>Ready To Build Your Community?</h2> 
      <button>Get Started For Free</button>
    </section> 
    <!-- Section end -->

    <footer class="footer">
      <div class="containerFooter">
        <img src="../images/logoBlanco.svg" alt="Loo" class="img-footer">
      
        <div class="footer-location">
          <img src="../images/icon-location.svg" alt="Icono footer">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
          incididunt ut labore et dolore magna aliqua</p> 
        </div>

        <div class="footer-phone">
          <img src="../images/icon-phone.svg" alt="Icono footer">
          <p>+1-543-123-4567</p>
        </div>

        <div class="footer-email">
          <img src="../images/icon-email.svg" alt="Icono footer">
          <p>example@huddle.com</p>
        </div>

        <div class="links">
          <a href="#">About Us</a>
          <a href="#">What We Do</a>
          <a href="#">FAQ</a>
          <a href="#">Career</a>
          <a href="#">Blog</a>
          <a href="#">Contact Us</a>        
        </div>
        <div class="copyrightSection">
            <div class="redes-sociales">
              <img src="../images/logo-de-facebook.svg" alt="facebook">
              <img src="../images/gorjeo (2).svg" alt="twitter">
              <img src="../images/instagram.svg" alt="instagram">
            </div>
           &copy; Derechos reservados
        </div>
        
      </div>
    </footer> 
  

   
  
</body>
</html>