@import './variables';

.footer {
    width: auto;
    background-color: $darkCtyan;
    color: #fff;
    padding-top: 50px;
    font-family: $fontBody;
    margin-top: -50px;
    .containerFooter{
        margin: 0 auto;
        margin-top: 100px;
        width: 90%;
        padding-bottom: 20px;
        .img-footer{
           width: 53%; 
        }
        a {
            text-decoration: none;
            color: #fff;
        }
        .container-two, .container-three {
            margin-top: 35px;
            margin-bottom: 35px;
            vertical-align: baseline;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1.3rem;
            font-weight: 400;
        }
        .container-two{
            margin-bottom: 0;
        }
        .container-three{
            margin-top: 15px;
        }
        .footer-location {
            display: flex;
            
            margin: 25px 0px 20px 0px;
            
            p {
                margin: 0px 10px 0px 20px;

            }
            img {
                height: 20px;
            }
        }
        .footer-phone {
            display: flex;
            
            margin: 25px 0px 20px 0px;
            
            p {
                margin: 0px 10px 0px 20px;

            }
            img {
                height: 20px;
            }
        }
        .footer-email {
            display: flex;
            
            margin: 25px 0px 20px 0px;
            
            p {
                margin: 0px 10px 0px 20px;

            }
            img {
                height: 20px;
            }
        }
        .copyrightSection{
            text-align: center;
            .redes-sociales{
                display: flex;
                height: 30px;
                justify-content: center;
                gap: 10px;
                margin: 30px 0px 30px 0px;
            }
            .mensaje{
                text-align: center;
                margin-top: 20px;
                padding-bottom: 20px;
            }
        }
    }
}

@media (min-width: 1440px) {
    .footer{
        padding-bottom: -97px;
        margin-top: -100px;
        .containerFooter {
            margin-top: 100px;
            padding-bottom: 30px;
            .container-one{
                width: 35%;
                .footer-location,.footer-email, .footer-phone{
                    margin-top: 40px;
                }
            }
            .container-two{

                justify-content: center;

                margin-top: -14px;
                
            }
            .container-three{
                justify-content: center;
            }
            display: flex;
            justify-content: space-around;
            align-items: center;
            
            .copyrightSection {
                width: 20%;
                .redes-sociales{
                    gap: 12px;
                    padding-top:150px;
                    // margin-bottom: -100px;
                }
                .mensaje {
                    margin-top: 150px;
                    text-align: end;
                }
            }
    
        }
        
    }
    
}