@import '../components/mixins';
@import '../components/variables';

.readyToBuild{
    display: inline-block;
    position: relative;
    // margin-bottom: -550px;
    margin-top: 50px;
    margin-left: 18px;
    margin-bottom: -14%;
    z-index: 100;
    background-color: white;
    .ir-btn {
        margin-top: 20px;
        margin-right: 5px;
        text-decoration: none;
        color: white;
        @include buttom($pink, 90px, 8px 15px, 12px);
        box-shadow: 0px 0px 5px #ccc;
        font-weight: 700;
    
    }
    
}
