@import '../components/variables';


    .information{
        text-align: center;
        width: 95%;
        margin: 0 auto;
        margin-top: 60px;
        border: 1px solid #ffffff;
        border-radius: 7px;
        padding: 0px;
        box-shadow: 0px 0px 15px #ccc;
        
        .img-information{
            margin-top: 50px;
            width: 95%;
            margin-bottom: 20px;
        }
    
    }