//Backgrounds
$bgImageMovil: '../images/bg-hero-mobile.svg';
$bgImageDesktop: '../images/bg-hero-desktop.svg';

//Layout
$mobile: 375px;
$desktop: 1440px;


//Colors
$pink:hsl(322, 100%, 66%); 

$paleCyan: hsl(193, 100%, 96%);
$darkCtyan: hsl(192, 100%, 9%);
$grayishBlue: hsl(208, 11%, 55%);


//Fonts
$fontHeader: 'Poppins', sans-serif;
$fontBody: 'Open Sans', sans-serif;

